.Popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #202020;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

.Popup_opened {
  display: flex;
  visibility: visible;
  opacity: 1;
}

.Popup__close {
  background: transparent center url(../../images/closeIcon.svg) no-repeat;
  position: absolute;
  right: 18px;
  top: 18px;
  border: none;
  width: 22px;
  height: 22px;
}

.Popup__container {
  color: #fff;
  text-align: center;
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  position: relative;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 730px;
}

.Popup__link-container {
  display: grid;
  gap: 26px;
  padding: 144px 0 0 0;
}

.Popup__link {
  text-decoration: none;
  color: #fff;
}

.Popup__account {
  font-size: 13px;
  line-height: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 0 0 0 8px;
}

.Popup__account-text {
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: #fff;
}

.Popup__account-image {
  background: transparent center url(../../images/accountIcon.svg) no-repeat;
  width: 26px;
  height: 26px;
  border-radius: 50px;
  background-color: #313131;
}

@media screen and (min-width: 768px) {
  .Popup {
    width: 520px;
    right: 0;
    left: unset;
  }
  .Popup__container {
    height: 1024px;
  }
  .Popup__close {
    right: 26px;
    top: 26px;
  }
  .Popup__link-container {
    gap: 30px;
    padding: 160px 0 0 0;
  }
  .Popup__account {
    padding: 0 0 94px 8px;
  }
}
